

  <h1> Properties </h1>
  <div class=".notifications"><%=session[:error] if session[:error]%></div>
  <% session[:error] = nil%>
    <ul id="properties">
        <div class="card-deck">
        <% @properties.each do |property| %>
            <a href="<%="/properties/book:#{property.id}"%>">
                <div class="card">
                  <img class="card-img-top" src="https://placeimg.com/400/400/archs" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title"><%= property.description %></h4>
                    <p class="card-text">£<%= property.price %> per night </p>
                    <p class="card-text"><small class="text-muted">Landlord: <%= User.get(property.user_id).username %></small></p>                  </div>
                </div>
            </a>
      <% end %>
      </div>
      </ul>
