<h1> Properties </h1>
<div class=".notifications"><%=session[:error] if session[:error]%></div>
<% session[:error] = nil%>
  <ul id="properties">
      <% @properties.each do |property| %>
        <li>
          <a href="<%="/properties/book:#{property.id}"%>">
            <%= property.description %>
            <%= property.price %>
            <%= User.get(property.user_id).email %>
          </a>
        </li>
    <% end %>
  </ul>
